body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 20px;
    border: 10px solid red;
}

h1{
    margin: 0px;
    padding: 0px;
}

.selections{
    display: flex;
    gap: 10px;
}

button{
    width: 70px;
    height: 30px;
}

.display{
    margin-top: 10px;
}
